<!DOCTYPE html>
<html>
<head>
    <title>Tek Trek</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        {{else}} 
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {{/if}}
    </nav>

    {{{body}}}

    <!-- script tags here -->
    <script src="/js/comment.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/delete-post.js"></script>
    <script src="/js/edit-post.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/new-post.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>