<form class="login-form">
    <input type="text" id="email-login" placeholder="Email">
    <input type="password" id="password-login" placeholder="Password">
    <button type="submit">Login</button>
</form>