<form class="signup-form">
    <input type="text" id="email-signup" placeholder="Email">
    <input type="password" id="password-signup" placeholder="Password">
    <button type="submit">Sign Up</button>
</form>